--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1

numpy==1.26.3
pandas==2.2.2
seaborn==0.13.2
torchinfo==1.8.0

h5py==3.13.0
joblib==1.4.2
kaleido==1.0.0
matplotlib==3.9.0
networkx==3.4.2
numba==0.61.0
optuna==4.1.0
plotly==6.3.0
pynauty==2.8.8.1
scikit-learn==1.6.1
scipy==1.15.2
umap-learn==0.5.7
altair
powerlaw==1.5



ruff
